<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <link rel="stylesheet" href="/static/css/error.css" />

  <title>404 Not Found - rimgo</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <h2 class="errorTitle">404 Not Found</h2>
    <p class="errorTitle">Click <a href="/">here</a> to return to home.</p>
  </main>

</body>

</html>