h1 {
  margin: 0;
}

p {
  margin: 0.5em 0;
}

video,
img {
  max-width: 100%;
}

.pfp {
  border-radius: 100%;
}

.imageMeta__wrapper,
.imageMeta__item,
.imageMeta {
  display: flex;
  gap: 12px;
  align-items: center;
}

.imageMeta__item {
  gap: 4px;
}

.imageMeta__wrapper {
  gap: 1rem;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.tags {
  display: flex;
  gap: 10px;
  flex-flow: wrap;
}

.tag {
  border-radius: 10px;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  background-blend-mode: multiply;
  min-width: 110px;
}

.tag__display {
  font-weight: 700;
  color: #fff;
  text-align: center;
}