h1, h2, h3 {
  margin: 0.4em 0;
}

code {
  padding: 0.15rem;
  font-size: 0.95em;
  background-color: #383838;
  border-radius: 4px;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

summary {
  cursor: pointer;
  user-select: none;
}